[Unit]
Description=mantl-shibboleth
After=docker.service
After=consul.service
Requires=docker.service
Requires=consul.service

[Service]
Restart=on-failure
RestartSec=20
TimeoutStartSec=0

ExecStartPre=-/usr/bin/docker rm -f mantl-shibboleth
ExecStartPre=-/usr/bin/docker pull {{ mantl_shibboleth_image }}:{{ mantl_shibboleth_image_tag }}

ExecStart=/usr/bin/docker run \
    --rm \
    --name=mantl-shibboleth \
    -p 4443:8443 \
    --add-host mantlctr01.cisco.com:10.10.0.2 \
    --add-host mantlctr02.cisco.com:10.10.0.4 \
    --add-host mantlam01.cisco.com:10.10.0.2 \
    --add-host mantlam02.cisco.com:10.10.0.4 \
    --add-host mantledge01.cisco.com:10.10.0.8 \
    --add-host mantlkn01.cisco.com:10.10.0.2 \
    --env-file=/etc/default/mantl-shibboleth.env \
    {{ mantl_shibboleth_image }}:{{ mantl_shibboleth_image_tag }}

ExecStop=/usr/bin/docker kill mantl-shibboleth

[Install]
WantedBy=multi-user.target
